<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Angular Directives</title>
	<link rel="shortcut icon" href="/CDS-Angular-Slides/favicon.ico">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<!-- css & themes include -->
	<link rel="stylesheet" href="/CDS-Angular-Slides/lib/reveal.js/css/reveal.css">
	<link rel="stylesheet" href="/CDS-Angular-Slides/outfit/css/themes/projector.css" id="theme">
	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? '/CDS-Angular-Slides/lib/reveal.js/css/print/pdf.css' : '/CDS-Angular-Slides/lib/reveal.js/css/print/paper.css';
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
	<!-- CUSTOM -->
	<base target="_blank">
</head>
<body>
	<div class="reveal default center" data-transition-speed="default" data-background-transition="default">
		<div class="top_links">
			<a class="home_link" href="/index.html#Directives" target="_top"><i class="fa fa-home"></i></a>
			<span class="help_link" href="#"><i class="fa fa-question"></i></span>
			<div class="help_text">
				<div><span>N/Space</span><span>Next Slide</span></div>
				<div><span>P</span><span>Previous Slide</span></div>
				<div><span>O</span><span>Slides Overview</span></div>
				<div><span>ctrl+left click</span><span>Zoom Element</span></div>
			</div>
		</div>
		<div class="footer theme_switch">
			<a href="#" onclick="document.getElementById('theme').setAttribute('href','/CDS-Angular-Slides/outfit/css/themes/dark.css'); return false;">Dark</a>
			<a href="#" onclick="document.getElementById('theme').setAttribute('href','/CDS-Angular-Slides/outfit/css/themes/light.css'); return false;">Light</a>
			<a href="#" onclick="document.getElementById('theme').setAttribute('href','/CDS-Angular-Slides/outfit/css/themes/projector.css'); return false;">Projector</a>
		</div>
		<div class="slides">
<!--
########################################################
##################### SLIDES START #####################
########################################################
-->
<section data-min-total="160"><h1>Angular Directives</h1></section>
<section data-transition="zoom">
	<div class="copyright">
		<div class="note">
			<p>Created for</p>
		</div>
		<div class="company">
			<a href="http://progressbg.net/kurs-po-web-design/">
			<img style="height:80%" src="/CDS-Angular-Slides/outfit/images/logos/ProgressBG_logo_529_127.png">
			</a>
		</div>
		<div class="author">
			<span>Iva E. Popova, 2016-2020,</span>
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"></a>
		</div>
	</div>
</section>


<section data-min="10"><h1>Overview</h1></section>
<section><h2>Overview</h2>
	<section>
		<dl class="fa">
			<dt>Directives are markers on DOM element that tell Angular to attach a specified behavior to an existing element.</dt>
			<dt>Angular provides a number of built-in directives, which are attributes we can add to our template elements in order to attach to them a dynamic behaviour.</dt>
		</dl>
	</section>
	<section>
		<dl class="fa">
			<dt>Angular includes several structural directives:</dt>
			<dd><code>NgIf</code></dd>
			<dd><code>NgFor</code></dd>
			<dd><code>NgSwitch, NgSwitchWhen, NgSwitchDefault</code></dd>
			<dt>And several non-structural directives:</dt>
			<dd><code>NgClass</code></dd>
			<dd><code>NgStyle</code></dd>
			<dd><code>NgControlName</code></dd>
			<dd><code>NgModel</code></dd>
		</dl>
	</section>
</section>

<section data-min="50"><h1>Structural Directives</h1></section>
<section><h2>Structural Directives</h2>
	<section><h3>Overview</h3>
		<dl class="fa">
			<dt>They can manipulate the DOM structure.</dt>
			<dt>With them we can add, remove or modify DOM elements.</dt>
			<dt>An asterisk (*) precedes the structural directive name</dt>
			<dt class="note">You may apply only one structural directive to an element.</dt>
		</dl>
	</section>
	<section><h3>Overview</h3>
		<dl class="fa" style="font-size: .8em">
			<dt>Asterisk symbol is a "syntactic sugar".</dt>
			<dt>Internally, Angular translates the <code>*ngSomething</code> attribute into a <code>&lt;ng-template&gt;</code> element, wrapped around the host element</dt>
			<pre><code rel="Asteric Notation" class="html">
				&lt;h2 *ngIf=&quot;true&quot;&gt;shown&lt;/h2&gt;
			</code></pre>
			<pre><code rel="<ng-template> wrapping" class="html">
				<ng-template [ngIf]="true">
					&lt;h2&gt;shown&lt;/h2&gt;
				</ng-template>
			</code></pre>
			<dd>The translation is according to the Angular's <a href="https://angular.io/guide/structural-directives#microsyntax">microsyntax</a>.</dd>
		</dl>
		<p class="note">More on property bindings (<code>[ngif]=""</code>) will be discussed in "Data and Events Bindings" theme.</p>
	</section>
	<section><h3><code>NgIf</code></h3>
		<pre><code rel="Syntax" class="bash">
			&lt;tag *ngIf=&quot;condition&quot;&gt;&lt;/tag&gt;
		</code></pre>
		<dl class="fa">
			<dt>With <code>ngIf</code> directive we can display or hide an element based on a condition.</dt>
			<dt>condition is the result of an <em>expression</em> that we pass into directive.</dt>
			<dd>if condition == true : the element will be included in the DOM</dd>
			<dd>if condition == false : the element will be removed (not just hide) from the DOM</dd>
		</dl>
	</section>
	<section><h3><code>NgIf - examples</code></h3>
		<pre><code rel="directives-test.component.ts" class="ts">
			import { Component } from '@angular/core';

			@Component({
				selector: 'app-directives-test',
				styles: [`section&gt;h2{
										border: .1em solid #000; margin: 1em;
								}`],
				template: `&lt;section&gt;
										&lt;h2 *ngIf=&quot;false&quot;&gt;*ngIf=&quot;false&quot;&lt;/h2&gt;
										&lt;h2 *ngIf=&quot;true&quot;&gt;*ngIf=&quot;true&quot;&lt;/h2&gt;
										&lt;h2 *ngIf=&quot;3&gt;2-1&quot;&gt;*ngIf=&quot;3&gt;2-1&quot;&lt;/h2&gt;
										&lt;h2 *ngIf=&quot;showH2&quot;&gt;*ngIf=&quot;showH2&quot;&lt;/h2&gt;
									&lt;/section&gt;`
			})
			export class DirectivesTestComponent {

				showH2 = 'true';

			}
		</code></pre>
	</section>
	<section><h3>ngIf; then; else</h3>
		<dl class="fa">
			<dt>Consider next example:</dt>
		</dl>
		<pre><code rel="test-comp.component.ts" class="ts">
			import { Component } from '@angular/core';

			@Component({
				selector: 'app-test-comp',
				template: `
					<div *ngIf="loggedIn">Welcome</div>
					<div *ngIf="!loggedIn">Plese, log in first.</div>
				`,
				styles: []
			})
			export class TestCompComponent {
				loggedIn = false;
			}
		</code></pre>
		<dl class="fa">
			<dt>Instead of using double ngIf on inverted condition, we can use <code>ngIf; then else</code> directive</dt>
		</dl>
	</section>
	<section><h3><code>ngIf; then; else</code> - syntax</h3>
		<pre><code rel="HTML" class="html">
			<div *ngIf="condition;then thenBlock else elseBlock">here is ignored</div>
			<ng-template #thenBlock>thenBlock: condition == true</ng-template>
			<ng-template #elseBlock>elseBlock: condition == false</ng-template>
		</code></pre>
		<dl class="fa">
			<dt>Works like common "if-then-else" logic.</dt>
			<dt>Note that we have to use template reference variable in order to refer to blocks in <code>then</code> and <code>else</code> clauses.</dt>
		</dl>
	</section>
	<section><h3><code>ngIf; then; else</code> - example</h3>
		<pre><code rel="test-comp.component.ts" class="ts">
			import { Component } from '@angular/core';

			@Component({
				selector: 'app-test-comp',
				template: `
					<div *ngIf="loggedIn; then Welcome else Login"></div>
					<ng-template #Welcome>Welcome to my site</ng-template>
					<ng-template #Login>Plese, log in first</ng-template>
				`,
				styles: []
			})
			export class TestCompComponent {
				loggedIn = false;
			}
		</code></pre>
	</section>
	<section><h3>the <code>ng-template</code> element</h3>
		<dl class="fa">
			<dt>The <code>ng-template</code> is an Angular element which <span class="note">is never displayed directly</span>.</dt>
			<dt>It's used to define a template used by a directive</dt>
			<dt>Angular replaces the <code>ng-template</code> and its contents with a comment, if there is no directive used with it</dt>
		</dl>
	</section>
	<section><h3>the <code>ng-template</code> - example</h3>
		<pre><code rel="test-comp.component.ts" class="ts">
			import { Component } from '@angular/core';
			@Component({
				selector: 'app-test-comp',
				template: `
					<div>Element 1</div>
					<ng-template>Element 2</ng-template>
					<div>Element 3</div>
				`,
				styles: []
			})
			export class TestCompComponent {

			}
		</code></pre>
		<dl class="fa">
			<dt>Notice, that "Element 2" is not rendered at all</dt>
		</dl>
	</section>
	<section><h3><code>NgSwitch</code></h3>
		<dl class="fa">
			<dt>To replace multiple alternative ngIf directives</dt>
		</dl>
		<pre><code rel="HTML" class="html">
			&lt;div class=&quot;container&quot;&gt;
				&lt;div *ngIf=&quot;myVar == &#39;A&#39;&quot;&gt;Var is A&lt;/div&gt;
				&lt;div *ngIf=&quot;myVar == &#39;B&#39;&quot;&gt;Var is B&lt;/div&gt;
				&lt;div *ngIf=&quot;myVar != &#39;A&#39; &amp;&amp; myVar != &#39;B&#39;&quot;&gt;Var is neither A nor B&lt;/div&gt;
			&lt;/div&gt;
		</code></pre>
		<pre><code rel="HTML" class="html">
			&lt;div class=&quot;container&quot; [ngSwitch]=&quot;myVar&quot;&gt;
				&lt;div *ngSwitchCase=&quot;&#39;A&#39;&quot;&gt;Var is A&lt;/div&gt;
				&lt;div *ngSwitchCase=&quot;&#39;B&#39;&quot;&gt;Var is B&lt;/div&gt;
				&lt;div *ngSwitchDefault&gt;Var is something else&lt;/div&gt;
			&lt;/div&gt;
		</code></pre>
	</section>
	<section><h3><code>ngFor</code></h3>
		<dl class="fa">
			<dt>Allows to repeat a given DOM element and pass an element of the array (iterable object) on each iteration.</dt>
			<dt><code>ndFor</code> is useful for generating repeating content, such as a list items, dropdown options, and so on.</dt>
		</dl>
		<pre><code rel="HTML" class="html">
			&lt;ul&gt;
				&lt;li *ngFor=&quot;let item of [1,2,3]&quot;&gt;item {{item}}&lt;/li&gt;
			&lt;/ul&gt;
		</code></pre>
		<pre><code rel="Output" class="bash" data-noescape>
			. item 1
			. item 2
			. item 3
		</code></pre>
	</section>
	<section><h3>ngFor - local variables</h3>
		<dl class="fa">
			<dt>Inside *ngFor microsyntas, angular provides some local variables useful in our loops, like <code>index</code>, <code>count</code> and etc.</dt>
			<dt>Reference: <a href="https://angular.io/api/common/NgForOf#local-variables">*ngFor - Local Variables</a></dt>
		</dl>
		<pre><code rel="HTML" class="html5">
			&lt;li *ngFor=&#39;let item of [1,2,3]; index as i; odd as isOdd&#39;&gt;
				&lt;span&gt;item: {{item}}, index: {{i}}, odd: {{isOdd}}&lt;/span&gt;
			&lt;/li&gt;
		</code></pre>
		<pre><code rel="Output" class="bash">
			item: 1, index: 0, odd: false
			item: 2, index: 1, odd: true
			item: 3, index: 2, odd: false
		</code></pre>
	</section>
	<section><h3><code>ngFor - example</code></h3>
		<pre><code rel="directives.component.html" class="html">
			import { Component } from &#39;@angular/core&#39;;

			@Component({
				selector: &#39;app-test-comp&#39;,
				template: `
					&lt;ul&gt;
						&lt;li *ngFor=&quot;let item of [1,2,3]&quot;&gt;item {{item}}&lt;/li&gt;
					&lt;/ul&gt;
				`,
				styles: [&#39;ul{border: 1px solid red;}&#39;]
			})
			export class TestCompComponent {

			}
		</code></pre>
	</section>
</section>

<section data-min="50"><h1>Attribute Directives</h1></section>
<section><h2>Attribute Directives</h2>
	<section><h3>Overview</h3>
		<dl class="fa">
			<dt>An Attribute directive changes the appearance or behavior of a DOM element.</dt>
			<dt>Attribute directives are used as <span class="note">element attributes</span></dt>
		</dl>
	</section>
	<section><h3><code>ngClass</code> - overview</h3>
		<dl class="fa">
			<dt>Adds and removes CSS classes on an HTML element.</dt>
			<dt>Used when we need to conditionally apply multiple stiles to our templates</dt>
			<dt>More powerful than using <code>[className]</code> property binding (discussed in next lectures).</dt>
			<dt>Reference: <a href="https://angular.io/api/common/NgClass">NgClass</a></dt>
		</dl>
	</section>
	<section><h3><code>ngClass</code> - overview</h3>
		<pre><code rel="Syntax" class="js">
			&lt;tag [ngClass]=&quot;{cssClass: expression}&quot;&gt;
		</code></pre>
		<dl class="fa">
			<dt>The expression passed to ngClass can be:</dt>
			<dd>an object</dd>
			<dd>an array</dd>
			<dd>a string</dd>
		</dl>
	</section>
	<section><h3><code>ngClass</code> - string value example</h3>
		<pre><code rel="test-comp.component.ts" class="ts">
			import { Component } from &#39;@angular/core&#39;;

			@Component({
				selector: &#39;app-test-comp&#39;,
				template: `
					&lt;div [ngClass]=&quot;&#39;error&#39;&quot;&gt;OK&lt;/div&gt;
				`,
				styles: [`
					.error{
						background-color: #F99;
					}
				`]
			})
			export class TestCompComponent {

			}
		</code></pre>
	</section>
	<section><h3><code>ngClass</code> - array value example</h3>
		<pre><code rel="test-comp.component.ts" class="ts">
			import { Component } from '@angular/core';

			@Component({
				selector: 'app-test-comp',
				template: `
						<div [ngClass]="['error', 'button']">OK</div>
				`,
				styles: [`
						.error{
								background-color: #F99;
						}
						.button{
								display: inline-block;
								padding: .3em .8em;
								border-radius: 10%;
						}
				`]
			})
			export class TestCompComponent {

			}
		</code></pre>
	</section>
	<section><h3><code>ngClass</code> - object value example</h3>
		<p><span class="note">This is the most useful and common way for using ngClass</span></p>
		<pre><code rel="test-comp.component.ts" class="ts">
			import { Component } from '@angular/core';

			@Component({
				selector: 'app-test-comp',
				template: `
						<div [ngClass]="{
								'ok':true,
								'button':true
						}">OK</div>
				`,
				styles: [`
						.error{
								background-color: #F99;
						}
						.ok{
								background-color: #99F;
						}

						.button{
								display: inline-block;
								padding: .3em .8em;
								border-radius: 10%;
						}
				`]
			})
			export class TestCompComponent {

			}

		</code></pre>
	</section>

</section>

<section data-min="50"><h1>Custom Directives</h1></section>
<section><h2>Custom Directives</h2>
	<section><h3>Overview</h3>
		<dl class="fa" style="font-size: .9em">
			<dt>Directives are Components without a view/UI.</dt>
			<dt>Directives do not need the "template" and "style" annotations.</dt>
			<dt class="note">We create directives by annotating a class with the @Directive decorator.</dt>
		</dl>
		<pre><code rel="Syntax" class="bash" data-noescape>
			import { Directive } from '@angular/core';

			@Directive({
				selector: '[selector'
			})
			export class SomeNameDirective {

				constructor() { }

			}
		</code></pre>
	</section>
	<section><h3>Generate directive</h3>
		<dl class="fa">
			<dt>Using Angular CLI:</dt>
			<pre><code rel="Terminal" class="bash" data-noescape>
				ng g d directives/changeContent
			</code></pre>
			<dt>directives are not created in separate folder, by default.</dt>
			<dt>Directives must be declared in Angular Modules in the same manner as components.</dt>
		</dl>
		<pre><code rel="custom-directive.directive.ts" class="typescript">
			import { Directive } from '@angular/core';

			@Directive({
				selector: '[appCustomDirective]'
			})
			export class CustomDirectiveDirective {

				constructor() { }

			}
		</code></pre>
	</section>
	<section><h3>ElementRef and Renderer2 objects</h3>
		<dl class="fa">
			<dt>Angular provides us with two very useful objects: the ElementRef and the Renderer.</dt>
			<dt>The ElementRef object gives us <span class="note">direct access to the DOM element</span> for the directive through the nativeElement property.</dt>
			<dt>The Renderer2 object gives us many helper methods to enable us to modify the DOM element even on Native Aps</dt>
			<dt>Both objects can be <span class="note">injected</span> into a class</dt>
		</dl>
	</section>
	<section><h3>ElementRef - example</h3>
		<pre><code rel="Terminal" class="bash" data-noescape>
			ng g d directives/changeContent
		</code></pre>
		<pre><code rel="change-content.directive.ts" class="typescript">
			import { Directive,ElementRef } from '@angular/core';

			@Directive({
				selector: '[changeContent]'
			})
			export class ChangeContentDirective {

				constructor(private Element: ElementRef) {
						console.dir(Element);
						Element.nativeElement.innerText="Changed by changeContent Directive. ";
				}

			}
		</code></pre>
	</section>
	<section><h3>use ChangeContentDirective</h3>
		<pre><code rel="JS" class="js">
			import { Component } from '@angular/core';

			@Component({
				selector: 'app-test-comp',
				template: `
						<div changeText></div>
				`,
				styles: []
			})
			export class TestCompComponent {

			}
		</code></pre>
	</section>
</section>


<!-- <section data-min="10"><h1>Accessing DOM properties and Events in Directives</h1></section>
<section><h2>Accessing DOM properties and Events in Directives</h2>
	<section><h3>___SubSectionTitle___</h3>

	</section>
</section> -->


<section data-min="50"><h1>Hands on the Demo Project</h1></section>
<section><h2>Hands on the Demo Project</h2>
	<section><h3>the ProductList Component</h3>

	</section>
</section>



<!-- <section data-min="1"><h1>References</h1></section>
<section><h2>References</h2>
	<section><h3>Readings</h3>
		<dl class="fa">
			<dt><a href="https://github.com/angular/angular-cli/wiki">Angular CLI wiki</a></dt>
			<dt><a href="https://www.sitepoint.com/ultimate-angular-cli-reference/">The Ultimate Angular CLI Reference Guide</a></dt>
		</dl>
	</section>
</section> -->


<section id="hw" data-min="4"><h1>Exercises</h1></section>
<section><h2>Task1: Task1Title</h2>
	<section><h3>The Task</h3>
		<dl class="fa">
			<dt>Given is next data:</dt>
			<pre><code rel="JS" class="ts">
				people = [
					{ name: 'Maria', age: 35, city: 'Sofia' },
					{ name: 'Ivan', age: 12, city: 'Plovdiv' },
					{ name: 'Peter', age: 22, city: 'Varna' }
				];
			</code></pre>
			<dt>Using structural directives create a component (task1) which will display the data as HTML table:</dt>
		</dl>
	</section>
</section>

<section><h3>Submission</h3>
	<dl class="fa">
		<dt>PLease, prefix your filenames/archive with your name initials, before sending.</dt>
		<dd>For instance: <b>iep_task1.py</b> or <b>iep_tasks.rar</b></dd>
		<dt>Send files to <a href="mailto:ProgressBG.WWW.Courses@gmail.com?Subject=_Directives_">ProgressBG.WWW.Courses@gmail.com</a></dt>
	</dl>
</section>


<section class="disclaimer" data-background="/CDS-Angular-Slides/outfit/images/for_slides/the_end_on_sand.jpg">
	<p>These slides are based on</p>
	<p>customised version of </p>
	<p><a href="http://hakim.se/">Hakimel</a>'s <a href="http://lab.hakim.se/reveal-js">reveal.js</a></p>
	 <p>framework</p>
</section>
<!--
########################################################
##################### SLIDES END   #####################
########################################################
-->
		</div>
	</div>
	<!-- Custom processing -->
	<script src="/CDS-Angular-Slides/outfit/js/slides.js"></script>
	<!-- external scripts -->

	<script src="/CDS-Angular-Slides/lib/reveal.js/js/reveal.js"></script>

	<!-- init reveal -->
	<script>
		// Full list of configuration options available at:
		// https://github.com/hakimel/reveal.js#configuration
		var highlightjsTabSize = '  ';
		Reveal.initialize({
			controls: true,
			progress: true,
			slideNumber: 'c/t',
			keyboard: true,
			history: true,

			// display control
			// center: true,
			// width: '100%',
			// height: '100%',
			// // Factor of the display size that should remain empty around the content
			// margin: 0.1,

			// The "normal" size of the presentation, aspect ratio will be preserved
			// when the presentation is scaled to fit different resolutions. Can be
			// specified using percentage units.
			width: 1920,
			height: 1080,

			// Factor of the display size that should remain empty around the content
			margin: 0.1,

			// Bounds for smallest/largest possible scale to apply to content
			minScale: 0.2,
			maxScale: 1.5,

			// slide transition
			transition: 'concave', // none/fade/slide/convex/concave/zoom
			// shift+maous click to zoom in/out element
			zoomKey: 'ctrl',
			// theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
			// transition: Reveal.getQueryHash().transition || 'default'
			// Optional reveal.js plugins
			dependencies: [
				{ src: '/CDS-Angular-Slides/lib/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
				{ src: '/CDS-Angular-Slides/lib/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '/CDS-Angular-Slides/lib/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: '/CDS-Angular-Slides/lib/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.configure({tabReplace: highlightjsTabSize}); hljs.initHighlightingOnLoad(); } },
				{ src: '/CDS-Angular-Slides/lib/reveal.js/plugin/zoom-js/zoom.js', async: true },
				{ src: '/CDS-Angular-Slides/lib/reveal.js/plugin/notes/notes.js', async: true }
			]
		});
	</script>
	<!-- linkedin badge -->
	<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</body>
</html>
